<!DOCTYPE html>
<html   lang="en"
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.0-beta3/css/bootstrap.min.css" integrity="sha512-N415hCJJdJx+1UBfULt+i+ihvOn42V/kOjOpp1UTh4CZ70Hx5bDlKryWaqEKfY/8EYOu/C2MuyaluJryK1Lb5Q==" crossorigin="anonymous" />


    <style>
        .article-img img {
            width: 100px;
        }
    </style>

</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                       Languages
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" th:href="@{/all-articles?lang=km}">Khmer</a></li>
                        <li><a class="dropdown-item" th:href="@{/all-articles?lang=en}">English</a></li>
                        <li><a class="dropdown-item" th:href="@{/all-articles?lang=ko}">Korean</a></li>

                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                </li>
            </ul>
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>


    <div class="container   mt-5 rounded ">
<!--        <h3> Article Management System </h3>-->
        <h3> [[#{app.title}]] </h3>
        <a  th:href="@{/form-add-article}" class="btn btn-primary"> Add New Post  </a>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">[[#{col.image}]]</th>

                <th scope="col">[[#{col.title}]]</th>
                <th scope="col">[[#{col.description}]]</th>
                <th scope="col">[[#{col.author}]]</th>
                <th scope="col">[[#{col.action}]]</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each=" article :${allArticles}">
                <th scope="row" th:text="${article.id}"></th>
                <th class="article-img" scope="row" >
                    <img src="" th:src="${article.imgUrl}" alt="">
                </th>
                <td th:text="${article.title}">Mark</td>
                <td th:text="${article.description}">Otto</td>
                <td th:text="${article.author.name}">@mdo</td>
                <td>
                    <div>
                        <a th:href="@{/post/{postID}(postID=${article.id})}" class="btn btn-warning"> View </a>
<!--                        <a th:href="@{'/post/'+${article.id}}"></a>-->
                        <button class="btn btn-danger"> Delete</button>
                    </div>

                </td>
            </tr>

            </tbody>
        </table>


    </div>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.0-beta3/js/bootstrap.min.js" integrity="sha512-mp3VeMpuFKbgxm/XMUU4QQUcJX4AZfV5esgX72JQr7H7zWusV6lLP1S78wZnX2z9dwvywil1VHkHZAqfGOW7Nw==" crossorigin="anonymous"></script>

</body>
</html>